@mixin switch-size($this, $track-width, $track-height, $thumb-size, $translate-x) {
	#{$this}__track {
		@apply w-#{$track-width} h-#{$track-height};

		&--thumb {
			@apply w-#{$thumb-size} h-#{$thumb-size};
			@apply top-0.5 left-0.5;
		}
	}

	input:checked + #{$this}__track #{$this}__track--thumb {
		@apply translate-x-#{$translate-x};
	}
}

@mixin switch-variant(
	$this,
	$color: 'neutral',
	$bg-checked: 600,
	$bg-hover: 300,
	$bg-track: 200
) {
	input {
		&:checked + #{$this}__track {
			@apply #{'bg-s-' + $color + '-' + $bg-checked};
		}

		&:hover:not(:disabled):not(:checked) + #{$this}__track {
			@apply #{'bg-s-' + $color + '-' + $bg-hover};
		}
	}

	#{$this}__track {
		@apply #{'bg-s-' + $color + '-' + $bg-track};
	}
}
