@mixin checkbox-variant(
	$this,
	$color: 'neutral',
	$border-main: 400,
	$bg-disabled: 50,
) {
	#{$this}__container {
		@apply #{'border-s-' + $color + '-' + $border-main};

		$svg-fill: $border-main + 100;

		svg {
			@apply #{'fill-s-' + $color + '-' + $svg-fill};
		}
	}

	input {
		$border-hover: $border-main + 100;

		&:hover:not(:disabled) + #{$this}__container {
			@apply #{'border-s-' + $color + '-' + $border-hover};
		}

		&:disabled + #{$this}__container {
			@apply #{'bg-s-' + $color + '-' + $bg-disabled};
		}
	}
}
