@mixin checkbox-variant(
	$this,
	$color: 'neutral',
	$border-main: 500,
	$border-hover: 700,
	$border-disabled: 200,
	$bg-disabled: 100,
	$svg-fill: 700
) {
	#{$this}__container {
		@apply #{'border-s-' + $color + '-' + $border-main};

		svg {
			@apply #{'fill-s-' + $color + '-' + $svg-fill};
		}
	}

	input {
		&:hover:not(:disabled) + #{$this}__container {
			@apply #{'border-s-' + $color + '-' + $border-hover};
		}

		&:disabled + #{$this}__container {
			@apply #{'bg-s-' + $color + '-' + $bg-disabled};
			@apply opacity-35;

			svg {
				@apply #{'fill-s-' + $color + '-' + $svg-fill};
			}
		}
	}
}
